@import "./jokes.css";


.container {
background-color: rgb(110, 9, 9);
}

.dadJokeTitle {
    text-align: center;
    font-family: 'Aladin', cursive;
    letter-spacing: 0.1em;
    font-size: 5em;
    margin: 0.2em;
    color: rgb(255, 44, 44);
    text-shadow: 3px 3px #5e3d3d;
    background-color: rgb(156, 50, 50);
    border-radius: .5em;
}

